.div-contents {
	width: 47rem;
	min-height: 30rem;
	background-color: var(--white-russian);
	border: solid 2px var(--sour);
	border-top: none;
}

.div-cocktail {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.div-image-name-ingredients {
	display: flex;
	width: 100%;
}

.div-img {
	background-color: var(--dry-martini);
	max-width: 16em;
	margin: 1rem;
	border: solid 1px var(--silver);
}

.div-img > img {
	width: 15em;
	padding: 1em;
}

.div-name-ingredients {
	margin: 1rem 2rem;
}

.h3-name {
	color: var(--old-pal);
}

.ul-ingredients {
	/* align-items: center; */
	margin: 1rem;
}

.li-ingredient {
	list-style: none;
	line-height: 1.5;
}

.div-instructions {
	display: flex;
	justify-content: center;
	margin: 1rem;
}

.p-instructions {
	width: 65%;
	line-height: 1.25;
	margin-bottom: 1em;
}

/* * @media less than 768px */
@media all and (max-width: 767px) {
	.div-contents {
		width: 99%;
	}

	.div-image-name-ingredients {
		flex-direction: column;
		align-items: center;
	}

	.h3-name {
		text-align: center;
	}

	.p-instructions {
		width: 90%;
	}
}
