.ul-tabs {
	display: flex;
	justify-content: space-evenly;
	width: 47rem;
	min-height: 2em;
	list-style: none;
	font-size: 0.75em;
	margin: 1rem 0 0;
}

.li-cocktail-name {
	width: 100%;
	height: 5em;
	text-align: center;
	color: var(--porto-flip);
	background-color: var(--algonquin);
	font-weight: bold;
	padding: 1em;
	border: 1px solid var(--dry-martini);
}

.active {
	color: var(--martinez);
	background-color: var(--manhattan);
	border: 2px solid var(--sour);
	border-bottom: var(--white-russian);
}
